@media (max-width: 900px) {
  .windows {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    height: 900px !important;
    border-radius: 50px;
    margin: 0 !important;
    transform-origin: left top;
  }
  header {
      width: 100%;
      height: 60px;
      background-color: transparent;
      box-shadow: none;
      display: flex;
      align-items: center;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding-inline: 25px;
      justify-content: space-between;
  }
  .left-part{
    display: none;
  }
  .right-part{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    filter: invert(1);
  }
  .right-part .date_actuel{
    position: absolute;
    left: 0px;
  }
  .dilan{
    width: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dilan img{
    display: flex;
    width: 150px;
  }
  .setting{
    display: none;
  }
  .batterie{
    display: block !important;
  }
  .date_actuel{
    font-size: 18px !important;
    font-weight: 800 !important;
  }
  .title{
    top: 50px;
    transform: translate(0, 0);
  }
  .dock{
    align-items: center;
    width: calc(100% - 40px);
    height: 70px;
    bottom: 30px;
  }
  .dock-container{
    display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr)) !important;
    height: 100%;
    border-radius: 30px !important;
  }
  .dock-icon{
    width: 100% !important;
    height: auto !important;
    max-height: 60px;
  }
  .folder.irza {
      top: 25%;
    left: 10%;
    }

  .folder.sm {
      top: 25%;
      left: 40%;
  }

  .folder.pb {
      top: 25%;
      left: 70%;
  }

  .folder.share {
      top: 40%;
      left: 10%;
  }

  .folder.other {
      top: 40% !important;
      right: 40% !important;
  }
.folder.noo {
      top: 3%;
      left: 70%;
  }
  .folder.calculator-app {
      top: 55%;
      left: 10%;
  }

  .folder.discord-app {
      top: 55%;
      right: 40%;
  }

  .folder.contact-app {
      top: 55%;
      left: 70%;
  }

  .folder.trash {
      top: 70%;
      left: 10%;
  }
    .folder.photos-app {
      top: 70%;
      left: 41%;
    }
  
.folder.other{
    top: 8%;
    right: 35%;
}
.finder-windows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: calc(100% - 10px);
    height: 100%;
    max-width: 800px;
    max-height: 500px;
    background-color: transparent;
    z-index: 100;
    border-radius: var(--border-radius);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: grid;
    grid-template-columns: 150px 1fr;
    pointer-events: auto;
}
.dots{
    scale: 1.2;
}

.filemanage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-columns: minmax(200px, 1fr);
    justify-content: center;
    gap: 20px;
    width: 100%;
    background-color: var(--background-color);
    position: relative;
}

.fils_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 115px);
    grid-auto-columns: 120px;
    justify-content: start;
    gap: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    padding-inline: 30px;
    box-sizing: border-box;
}

.fils_content .folder {
    position: initial !important;
}
.photos-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 10px);
    max-height: 480px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    overflow: auto;
    pointer-events: auto;
    box-sizing: border-box;
}
}


@media (min-width: 385px) and (max-width: 900px) and (min-height: 731px) {
  .windows {
scale: 0.8;
  }
}
@media (max-width: 731px) and (max-width: 400px){
    .windows {
            scale: 0.7;
    }
}